%link{rel: 'stylesheet', href: '../css/foundation.css'}
%link{rel: 'stylesheet', href: '../css/app.css'}
%link{rel: 'script', href: '../js/app.js'}

%div.row
  %div.small-12.medium-6.medium-centered.small-centered.columns
    %div.da-image
      %img{ src: @image }
    
    %h1.lose Nope!

    %div.tag-box
      - @tags.each do |tag|
        %div.tag-label
          = tag
    
    %a{href: '/'}
      %div.next
        Next