%link{rel: 'stylesheet', href: '../css/foundation.css'}
%link{rel: 'stylesheet', href: '../css/app.css'}

%div.row
  %div.small-12.medium-6.medium-centered.small-centered.columns
    %img{ src: @shot_image }
    %form{ action: '/guess', method: 'POST' }
      %input{ name: 'tags', type: 'hidden', value: @shot_tags }
      %input{ name: 'image', type: 'hidden', value: @shot_image }
      %input{ name: 'guess', type: 'text', placeholder: 'Guess a tag...' }
      %input{ name: 'submit', type: 'submit' }
