%link{rel: 'stylesheet', href: '../css/foundation.css'}
%link{rel: 'stylesheet', href: '../css/app.css'}

%div.row
  %div.small-12.medium-6.medium-centered.small-centered.columns
    %img{ src: @image }
    
    %h1.win Success!
    %h2
      You Guessed
    = @guess

    %h2
      Possible Tags

    %div.tag-box
      - @tags.each do |tag|
        %div.tag-label
          = tag
    
    %div
      %a.next{href: '/'}
        Next