@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
body, p, h1, h2, h3, h4{
  font-family: 'Lato', sans-serif;
  color: #313131;
}

body{
  background-color: #efefef;
}

.row{
  margin-top: 100px;
}

img{
  width: 100%;
}

form{
  margin-top: 50px;
}

.button{
    width: 100%;
    background-color: #313131;
    color: white;
    font-weight: 700;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover{
  background-color: #111111;
}

input[type=submit], .next {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    font-weight: 700;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover, .next:hover {
    background-color: #45a049;
}

input[type=text] {
  border-radius: 4px;
}

.tag-label{
  float: left;
  background-color: #dddddd;
  margin: 5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
}

.tag-box{
  display: inline-block;
  margin-bottom: 50px;
  margin-top: 50px;
}

h1{
  text-align: center;
  font-size: 24px;
}

h2{
  text-align: center;
  font-size: 20px;
}

.win{
  background-color: #4CAF50;
  color: white;
  padding-top: 10px;
  padding-bottom: 12px;
  border-radius: 0px 0px 4px 4px;
}

a{
  text-align: center;
  color: white;
}

.next{
  text-align: center;
  font-weight: 700;
}

.da-image{
  border-radius: 4px 4px 0px 0px;
  overflow: hidden;
}

.da-image-two{
  border-radius: 4px 4px 4px 4px;
  overflow: hidden;
}

.lose{
  background-color: #DF4144;
  color: white;
  padding-top: 10px;
  padding-bottom: 12px;
  border-radius: 0px 0px 4px 4px;
}

.logo{
  margin-bottom: 30px;
}
